
/* @import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap'); */
@font-face {
  font-family: 'AR DELANEY';
  src: url(/fonts/ARDELANEY.woff2) format('woff2'),url(/fonts/ARDELANEY.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AcmeFont';
  src: url(/fonts/AcmeFont.woff2) format('woff2'), url(/fonts/AcmeFont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////
Change your color here 
////////////////////////////////////////////////////////////////////////////////////////////////////*/

:root {
  --primary-color: #ff4bd8;
  --nav-color: #857fcb;
  --secondary-color: #62d6f9;
}

::-moz-selection {
  color: #fff;
  background: var(--primary-color)
}

::selection {
  color: #fff;
  background: var(--primary-color)
}

::-moz-selection {
  color: var;
  background: var(--primary-color)
}
.main-container{
  background-color: #000;
}

body {
  padding-top: 0px;
  font-family: 'Muli', sans-serif;
  background: #000 url(/images/intro-bg.jpg) no-repeat top center;
  background-size: 100%;
  background-attachment:unset;

}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.64;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer
}

a:hover,
a:focus,
a:active {
  color: var(--primary-color);
}

a.link {
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

a.link::before {
  content: '';
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  position: absolute;
  bottom: -4px;
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

a.link:hover {
  color: #000
}

a.link:hover::before {
  background: #000
}
.front-end .lead {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2.2rem;
}
.front-end p {
  font-size: 25px;
  line-height: normal;
}
.space-md {
  padding-top: 90px;
  padding-bottom: 90px
}

.space-sm {
  padding-top: 30px;
  padding-bottom: 30px
}
 

.bg-dark {
  background-color: #212529!important;
}
.btn-dark {
  color: #fff;
  background-color: #212529;
  border-color: #212529;
}

.btn {
border-radius: 0
}
.btn-dark:hover {
  background: var(--primary-color);
  border-color:  var(--primary-color);
}

.btn-primary {
color: #fff;
background: var(--primary-color);
border-color:  var(--primary-color);
}
.btn-primary:hover {
  color: #fff;
  background: var(--secondary-color);
  border-color:  var(--secondary-color);
}

.btn-next,
.btn-pre {
  color: #fff;
  background: var(--primary-color);
  border-color:  var(--primary-color);
}
.btn-next:hover,
.btn-pre:hover {
  color: #fff;
  background: var(--secondary-color);
  border-color:  var(--secondary-color);
}

#preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background: #fff;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

#preloader.hide {
  visibility: hidden;
  opacity: 0
}

#loader {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  -webkit-animation: loader 1s infinite linear;
  animation: loader 1s infinite linear
}

@-webkit-keyframes loader {
  0% {
      -webkit-transform: scale(1);
      border: 5px solid #222
  }
  50% {
      -webkit-transform: scale(0);
      border: 30px solid #222
  }
  100% {
      -webkit-transform: scale(1);
      border: 10px solid #222
  }
}

@keyframes loader {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      border: 5px solid #222
  }
  50% {
      -webkit-transform: scale(0);
      transform: scale(0);
      border: 30px solid #222
  }
  100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      border: 10px solid #222
  }
}


/*/////////////////////
Container tweak
///////////////////////*/

/*.container {
  max-width: 1440px
}*/
.front-end.main-content {
  padding: 0px; 
  margin: 0px;
  background-size: cover;
  background-attachment:unset;
  padding-top: 0px;
  padding-bottom: 0px;
}
.front-end.main-content:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

/*/////////////////////
Navigation
///////////////////////*/
.navbar-expand-lg .navbar-toggler {
  display: none;
}
.navbar-light {
  display: inline-block;
  text-align: center;
}
.navbar-toggler {
  background-color: #fff;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--nav-color)!important;
  letter-spacing: .04rem;
  font-size: 30px;
  font-family: 'AR DELANEY';
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
.navbar-nav span {
  position: relative;
  color: var(--nav-color);
  font-weight: 700;
  letter-spacing: .04rem;
  font-size: 30px;
  margin: 5px 10px 0 10px;
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  font-weight: 900;
  text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-link:hover {
  /* text-decoration: line-through; */
  color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondary-color);
}
.navbar-light .navbar-nav .nav-link:active,
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--secondary-color);
}
/*/////////////////////
Header intro 
///////////////////////*/

.headline {
  position: relative;
  margin-bottom: 0px;
  margin-top: 40px;
}

.headline-content {
  display: block;
  position: relative;

}

.headline-content .headline-title {
  font-family: 'AR DELANEY';
  font-size: 70px;
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.headline-content.intro {
  text-align: center;
  display: block;
  position: relative;
  background: #000;
  padding: 75px 0 22px 0;
  border-top-right-radius: 900px;
  border-top-left-radius: 900px;
}

.headline-content.intro .headline-title {
  font-size: 66px;
  font-family: 'AcmeFont';
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
  color: var(--primary-color);
}

.headline-subtitle {
  font-size: 30px;
  color: var(--primary-color);
  font-family: 'AR DELANEY';
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}

/* divider */
.divider-horizontal {
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}
.divider-line-primary {
  width: 100%;
  height: 2px;
  background: var(--primary-color);
}
.divider-line-secondary {
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
}

/* Portfolio */

#portfolio-filters {
  margin-bottom: 40px
}
.single-project {
  color: #fff;
}
 
/* portfolio filter */

#filters li {
  display: inline-block;
  margin-right: 100px
}

#filters li:last-child {
  margin-right: 0
}

#filters li a {
  font-size: 18px;
  font-weight: 600;
  position: relative;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#filters li a::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -6px;
  left: 0;
  background: #000;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#filters li a:hover,
#filters li a.active {
  color: #000
}

#filters li a:hover::after,
#filters li a.active::after {
  width: 100%
}


/* Portfolio items */
#portfolio {
  background: #000;
  padding: 15px;
  margin-bottom: 80px;
}
.entry {
  overflow: hidden
}

.entry-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}

.entry:hover .entry-image {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.work-entry-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.entry:hover .work-entry-hover {
  opacity: 1;
  visibility: visible
}

.work-entry-content {
  position: absolute;
  bottom: 50px;
  left: 50px
}

.work-entry-title {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  position: relative;
  top: 15px;
  -webkit-transition: all .5s cubic-bezier(0.4, .2, 0, 1) .2s;
  transition: all .5s cubic-bezier(0.4, .2, 0, 1) .2s
}

.work-entry-cat {
  font-size: 14px;
  opacity: 0;
  position: relative;
  top: 15px;
  -webkit-transition: all .5s cubic-bezier(0.4, .2, 0, 1) .3s;
  transition: all .5s cubic-bezier(0.4, .2, 0, 1) .3s;
  color: #fff;
}

.entry:hover .work-entry-title,
.entry:hover .work-entry-cat {
  opacity: 1;
  top: 0
}

.project-intro li {
  font-size: 18px;
  color: #fff;
  padding: 12px 0 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
/*    max-width: 200px*/
}

.project-intro li.title {
  font-size: 26px;
  color: var(--secondary-color);
  font-weight: 700;
  padding: 0px 0 10px;
}
.single-project header .divider-horizontal {
  margin-top: 0px;
}

.single-project .headline-content .headline-title {
  font-size: 70px;
  line-height: normal;
}
/* Crew */
#crew {
  background: #000;
  padding: 15px;
  margin-bottom: 0;
}
.single-crew {
  border: 0px solid red;
  margin-bottom: 30px;
}
.single-crew .crew-image img{
  border-radius: 100%;
  border: 2px solid var(--primary-color)!important;
  background: var(--primary-color);
}
.single-crew .crew-name-first, 
.single-crew .crew-name-last{
  color: var(--primary-color);
  letter-spacing: .04rem;
  font-size: 25px;
  font-family: 'AR DELANEY';
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
.single-crew .crew-description,
.single-crew .crew-job {
  color: var(--secondary-color);
  font-size: 30px;
  font-family: 'AR DELANEY';
  font-weight: 100;
  font-style: normal;
  text-transform: uppercase;
}
/* Contact */
.contact-info p strong {
padding-top: 3px;
}

.contact-info p {
  font-size: 18px;
  color: var(--secondary-color);
  font-style: normal;
}

.contact-info a {
  position: relative;
  display: block;
  padding-top: 3px;
  color: var(--primary-color);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out
}

.contact-info a:hover {
  color: var(--secondary-color);
}


/* Footer */

.front-end.footer {
  margin-top: 0;
  margin-bottom: 100px;
  text-align: center;
  background: transparent ;
}

.front-end.footer .footer-title {
  margin-bottom: 100px
}

.front-end.footer ul {
  margin-top: 30px
}

.front-end.footer ul li {
display: inline-block;
  margin-bottom: 10px
}

.front-end.footer ul li a {
  color: var(--primary-color);
  border: 2px solid;
  font-size: 25px;
  width: 60px;
  height: 60px;
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front-end.footer ul li a:hover {
  text-decoration: none;
color: var(--secondary-color);
}
.copy {
  font-weight: 600;
  color: var(--secondary-color);
}


/* Conatact */

/* .contact .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 1.875rem .85rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #e9ecef;
  border-radius: 0;
} */

.media {
  display: block;
  align-items: flex-start;
  width: 100%;
}

figure img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}