/* ////////////////////////////////////////

responsive
/////////////////////////////////////////*/
@media screen and (max-width:991px){
 .front-end  .navbar-light .navbar-nav .nav-link,
  .front-end .navbar-nav span {
    font-size: 25px!important;
  }
  .headline-subtitle {
    font-size: 22px!important;
  }
  .headline-content.intro .headline-title {
    font-size: 40px!important;
  }
  .divider-horizontal {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .display-3 {
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 1.2;
  }
 
  .front-end .navbar-collapse {
    position: relative;
    display: flex !important;
    flex-basis: 92%!important;
    flex-grow: -1!important;
    align-items: center!important;
    justify-content: center!important;
    background: #000000!important;
    opacity: 1!important;
    padding: 0px 0!important;
    border-radius: 7px!important;
  }
  

}

@media screen and (max-width:667px){
  .navbar-collapse {
    padding: 0 0;
  }
  .headline-content .headline-title {
    font-size: 30px!important;
  }
  .headline-subtitle {
    font-size: 21px!important;
  }
  .front-end .headline-content.intro {
    padding: 15px 0 0px 0!important;
  }
  .front-end .headline-content.intro .headline-title {
    font-size: 35px!important;
    line-height: normal!important;
  }
  .front-end .navbar {
    padding: 0 0;
  }
  .space-sm {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-link {
    padding: 0 0;
  }
  .navbar-nav span {
    margin: -3px 10px 0 10px;
  }
  #portfolio {
    margin-bottom: 48px;
  }
  .project-intro li.title {
    font-size: 22px;
  }
  .project-intro li {
    font-size: 16px;
    padding: 7px 0 7px 0;
  }
  .lead {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: inherit;
  }
  .front-end .footer ul li a {
    font-size: 18px;
    width: 45px;
    height: 45px;
  }
  .front-end .footer {
    margin-bottom: 0;
  }
}